{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block page_body %}
<section id="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                {% if exchange %}
                    <h2 class="c-purple f-500 f-20">Add Coin ( {{ coin }} ) from {{ exchange.name }}</h2>
                {% else %}
                    <h2 class="c-purple f-500 f-20">Attach Coin ( {{ coin }} )</h2>
                {% endif %}
            </div>
            
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-md-9 p-t-10">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="col-sm-4 m-b-25">
                                <p class="f-400 m-b-15 c-black f-16">Cryptocompare: 
                                    {% if coin.is_master and coin.cryptocompare %}
                                        <span class="text-success">Connected ({{coin.cryptocompare}})</span>
                                    {% else %}
                                        <span class="text-warning">Not Connected</span>
                                    {% endif %}
                                </p>
                                
                                <select class="selectpicker m-t-15" data-live-search="true" name="cc_coin">
                                <option value="">---</option>
                                {% for ii in cc_coins %}
                                    {% if coin.is_master and coin.cryptocompare %}
                                        <option {% if ii.id == coin.cryptocompare %} selected {% endif %} value="{{ ii.id }}">
                                            {{ ii.coinname }} ( {{ ii.symbol }} )
                                        </option>
                                    {% else %}
                                    <option {% if ii.symbol == coin or ii.symbol == coin.symbol %} selected {% endif %} value="{{ ii.id }}">
                                        {{ ii.coinname }} ( {{ ii.symbol }} )
                                    </option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                                <p class="m-t-15">
                                    {% if ccd_coins %}
                                    <span class="c-red f-15">** Duplicates ({{ ccd_coins }})</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-sm-4 m-b-25">
                                <p class="f-500 m-b-15 c-black f-16">Coinmarketcap:
                                    {% if coin.is_master and coin.coinmarketcap %}
                                        <span class="text-success">Connected ({{coin.coinmarketcap}})</span>
                                    {% else %}
                                        <span class="text-warning">Not Connected</span>
                                    {% endif %}
                                </p>
                                
                                <select class="selectpicker m-t-15" data-live-search="true" name="cmc_coin">
                                <option value="">---</option>
                                {% for ii in cmc_coins %}
                                    {% if coin.is_master and coin.coinmarketcap %}
                                        <option {% if ii.id == coin.coinmarketcap %} selected {% endif %} value="{{ ii.id }}">
                                            {{ ii.token }} ( {{ ii.symbol }} )
                                        </option>
                                    {% else %}
                                    <option {% if ii.symbol == coin or ii.symbol == coin.symbol %} selected {% endif %} value="{{ ii.id }}">
                                        {{ ii.token }} ( {{ ii.symbol }} )
                                    </option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                                <p class="m-t-15">
                                    {% if cmcd_coins %}
                                    <span class="c-red f-15">** Duplicates ({{ cmcd_coins }})</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-sm-4 m-b-25">
                                <p class="f-500 m-b-15 c-black f-16">Coinapi:
                                    {% if coin.is_master and coin.coinapi %}
                                        <span class="text-success">Connected ({{coin.coinapi}})</span>
                                    {% else %}
                                        <span class="text-warning">Not Connected</span>
                                    {% endif %}
                                </p>
                                
                                <select class="selectpicker m-t-15" data-live-search="true" name="cp_coin">
                                <option value="">---</option>
                                {% for ii in cp_coins %}
                                    {% if coin.is_master and coin.coinapi %}
                                        <option {% if ii.id == coin.coinapi %} selected {% endif %} value="{{ ii.id }}">
                                            {{ ii.name }} ( {{ ii.symbol }} )
                                        </option>
                                    {% else %}
                                    <option {% if ii.symbol == coin or ii.symbol == coin.symbol %} selected {% endif %} value="{{ ii.id }}">
                                        {{ ii.name }} ( {{ ii.symbol }} )
                                    </option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                                <p class="m-t-15">
                                    {% if cpd_coins %}
                                    <span class="c-red f-15">** Duplicates ({{ cpd_coins }})</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-sm-12 p-t-25">
                                <div class="col-md-3 p-0 p-r-15">
                                    <label>Alias</label>
                                    <select class="selectpicker m-t-15" data-live-search="true" name="alias">
                                        <option value="">---</option>
                                        {% for ii in coins %}
                                            <option {% if ii.id == coin.alias_id %} selected {% endif %} value="{{ ii.id }}">{{ ii.symbol }} ( {{ ii.original_symbol }} )</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-3 p-r-10 p-l-10">
                                    <div class="form-group fg-line">
                                        <label>Symbol Name</label>
                                        <input type="text" class="form-control m-t-10" name="new_symbol" value="{{ coin }}">
                                    </div>
                                </div>
                                <div class="col-md-3 p-r-10 p-l-10">
                                    <div class="form-group fg-line">
                                        <label>Original Symbol</label>
                                        <input type="text" class="form-control m-t-10" readonly="" value="{% if coin.original_symbol %} {{ coin.original_symbol }} {% else %} {{ coin }} {% endif %}">
                                    </div>
                                </div>
                                <div class="col-md-3 p-l-25 p-t-25">
                                    <button class="btn btn-info waves-effect m-l-10">Add Coin</button>
                                    <a class="btn btn-default waves-effect m-l-10" href="#" onclick="javascript: window.history.back();">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% if exchange %}
                    <div class="col-md-3 p-b-10">
                        <h4>Coinapi</h4>
                        {% if cp_pairs %}
                            <div class="pair-list">
                                {% for ii in cp_pairs %}
                                    <div>{{ ii.base_coin }} - {{ ii.quote_coin }}</div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <span class="text-warning">Not supported</span>
                        {% endif %}
                        <h4 class="m-t-15">Cryptocompare</h4>
                        {% if cc_pairs %}
                            <div class="pair-list">
                                {% for ii in cc_pairs %}
                                    <div>{{ ii.base_coin }} - {{ ii.quote_coin }}</div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <span class="text-warning">Not supported</span>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/qobit.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
{% endblock %}