{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block page_body %}
<section id="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="c-purple f-500 f-20">World of Coins</h2>
            </div>
            
            <div class="card-body card-padding">
                <div class="table-responsive">
                    <table id="data-table-all-coins" class="table table-striped" data-ajax="true" data-url="/all_coins_">
                        <thead>
                            <tr>
                                <th data-column-id="symbol">Symbol</th>
                                <th data-column-id="cryptocompare">Cryptocompare</th>
                                <th data-column-id="coinapi">CoinAPI</th>
                                <th data-column-id="cmc">CoinMarketCap</th>
                                <th data-column-id="status">Status</th>
                                <th data-column-id="action" data-formatter="commands" data-sortable="false">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>            
            </div>
        </div>
        
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/qobit.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
{% endblock %}