{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block page_body %}
<section id="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="c-purple f-500 f-20">Bulk Pair Coins</h2>
            </div>
            
            <div class="card-body card-padding">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-2">
                            <p class="f-500 m-b-15 c-black f-16 pull-right">Coin</p>
                        </div>
                        <div class="col-md-10">
                            <div class="col-sm-3 m-b-15">
                                <p class="f-500 m-b-15 c-black f-16">Cryptocompare</p>
                            </div>
                            <div class="col-sm-3 m-b-15">
                                <p class="f-500 m-b-15 c-black f-16">Coinmarketcap</p>
                            </div>
                            <div class="col-sm-3 m-b-15">
                                <p class="f-500 m-b-15 c-black f-16">Coinapi</p>
                            </div>
                            <div class="col-sm-3 m-b-15">
                                <p class="f-500 m-b-15 c-black f-16">Coingecko</p>
                            </div>
                        </div>
                    </div>
                    {% for coin in coins %}
                    <div class="row">
                        <div class="col-md-2 p-t-10">
                            <p class="f-500 m-b-15 c-black f-15 pull-right">
                                <a target="_blank" href="/attach_coin/{{ coin.id }}">{{ coin.coinlocale_set.first.name }} ( {{ coin.symbol }} )</a>
                            </p>
                            <input type="hidden" name="coin{{forloop.counter}}" value="{{ coin.id }}">
                        </div>
                        <div class="col-md-10 p-t-10">
                            <div class="col-sm-3 m-b-15">
                                <p class="f-400 m-b-15 c-black f-15">
                                    {% if coin.cryptocompare != None %}
                                        <span class="text-success">Connected ({{coin.cryptocompare}})</span>
                                    {% else %}
                                        <span class="text-warning">Not Connected</span>
                                    {% endif %}
                                </p>
                                
                                <select class="selectpicker m-t-10 p-r-15" data-live-search="true" name="cc_coin{{forloop.counter}}" data-size="10">
                                <option value="">NULL</option>
                                <option value="0" {% if coin.cryptocompare == 0%} selected {% endif %} >---</option>
                                {% for ii in cc_coins %}
                                    {% if coin.cryptocompare > -1 %}
                                        {% if coin.cryptocompare == ii.id %}
                                            <option selected value="{{ ii.id }}">
                                                {{ ii.coinname }} ( {{ ii.symbol }} )
                                            </option>
                                        {% endif %}
                                    {% else %}
                                        <option {% if ii.symbol == coin.symbol %} selected {% endif %} value="{{ ii.id }}">
                                            {{ ii.coinname }} ( {{ ii.symbol }} )
                                        </option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3 m-b-15">
                                <p class="f-400 m-b-15 c-black f-15">
                                    {% if coin.coinmarketcap != None %}
                                        <span class="text-success">Connected ({{coin.coinmarketcap}})</span>
                                    {% else %}
                                        <span class="text-warning">Not Connected</span>
                                    {% endif %}
                                </p>
                                
                                <select class="selectpicker m-t-10 p-r-15" data-live-search="true" name="cmc_coin{{forloop.counter}}" data-size="10">
                                <option value="">NULL</option>
                                <option value="0" {% if coin.coinmarketcap == 0%} selected {% endif %} >---</option>
                                {% for ii in cmc_coins %}
                                    {% if coin.coinmarketcap > -1 %}
                                        {% if coin.coinmarketcap == ii.id %}
                                            <option selected value="{{ ii.id }}">
                                                {{ ii.token }} ( {{ ii.symbol }} )
                                            </option>
                                        {% endif %}
                                    {% else %}
                                        <option {% if ii.symbol == coin.symbol %} selected {% endif %} value="{{ ii.id }}">
                                            {{ ii.token }} ( {{ ii.symbol }} )
                                        </option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3 m-b-15">
                                <p class="f-400 m-b-15 c-black f-15">
                                    {% if coin.coinapi != None %}
                                        <span class="text-success">Connected ({{coin.coinapi}})</span>
                                    {% else %}
                                        <span class="text-warning">Not Connected</span>
                                    {% endif %}
                                </p>
                                
                                <select class="selectpicker m-t-10 p-r-15" data-live-search="true" name="cp_coin{{forloop.counter}}" data-size="10">
                                <option value="">NULL</option>
                                <option value="0" {% if coin.coinapi == 0%} selected {% endif %} >---</option>
                                {% for ii in cp_coins %}
                                    {% if coin.coinapi > -1 %}
                                        {% if coin.coinapi == ii.id %}
                                            <option selected value="{{ ii.id }}">
                                                {{ ii.name }} ( {{ ii.symbol }} )
                                            </option>
                                        {% endif %}
                                    {% else %}
                                        <option {% if ii.symbol == coin.symbol %} selected {% endif %} value="{{ ii.id }}">
                                            {{ ii.name }} ( {{ ii.symbol }} )
                                        </option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3 m-b-15">
                                <p class="f-400 m-b-15 c-black f-15">
                                    {% if coin.coingecko != None %}
                                        <span class="text-success">Connected ({{coin.coingecko}})</span>
                                    {% else %}
                                        <span class="text-warning">Not Connected</span>
                                    {% endif %}
                                </p>
                                
                                <select class="selectpicker m-t-10 p-r-15" data-live-search="true" name="cg_coin{{forloop.counter}}" data-size="10">
                                <option value="">NULL</option>
                                <option value="0" {% if coin.coingecko == 0%} selected {% endif %} >---</option>
                                {% for ii in cg_coins %}
                                    {% if coin.coingecko > -1 %}
                                        {% if coin.coingecko == ii.id %}
                                            <option selected value="{{ ii.id }}">
                                                {{ ii.name }} ( {{ ii.symbol }} )
                                            </option>
                                        {% endif %}
                                    {% else %}
                                        <option {% if ii.symbol == coin.symbol %} selected {% endif %} value="{{ ii.id }}">
                                            {{ ii.name }} ( {{ ii.symbol }} )
                                        </option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2 p-l-25 p-t-25 m-t-10">
                            <button class="btn btn-info waves-effect m-l-10">Pair Coins</button>
                            <a class="btn btn-default waves-effect m-l-10" href="#" onclick="javascript: window.history.back();">Cancel</a>
                        </div>
                        <div class="col-md-2 p-t-20">
                            <ul class="pagination">
                                <li><a href="/bulk_pair_coin?page={{ prev_page }}" aria-label="Previous"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                <li class="p-t-5 f-500">{{ page }} / {{ max_page }}</li>
                                <li><a href="/bulk_pair_coin?page={{ next_page }}" aria-label="Next"><i class="zmdi zmdi-chevron-right"></i></a></li>
                             </ul>                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/qobit.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
{% endblock %}