{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block page_body %}
<section id="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <span class="c-purple f-500 f-20">Bulk Pair Coins</span>
                {% if mode == 'default' %}
                    <a href="/bulk_pair_coin?mode=filter&initial=1" class="pull-right m-r-25">Go to Filter Mode</a>
                {% else %}
                    <a href="/bulk_pair_coin?mode=default" class="pull-right m-r-25">Go to Default Mode</a>
                {% endif %}
            </div>
            
            <div class="card-body card-padding">
                {% if mode == 'filter' %}
                <form action="" method="GET" class="filter-form">
                    <div class="row m-b-15">
                        <div class="col-md-offset-2 col-md-10 m-b-10">
                            <div class="col-md-3">
                                <input type="text" name="q" placeholder="Keyword here ..." class="form-control m-t-5" value="{{ q__ }}">
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-primary m-t-5">Search</button>
                            </div>
                            <input type="hidden" name="mode" value="filter">
                        </div>
                        <div class="col-md-offset-2 col-md-10">
                            <div class="col-sm-2 col-20 m-b-15">
                                <select class="selectpicker m-t-10 p-r-15" name="cryptocompare">
                                    <option value="">Choose Cryptocompare</option>
                                    <option value="1" {% if request.GET.cryptocompare == '1' %} selected {% endif %}>Not Linked Yet</option>
                                    <option value="2" {% if request.GET.cryptocompare == '2' %} selected {% endif %}>Found</option>
                                    <option value="3" {% if request.GET.cryptocompare == '3' %} selected {% endif %}>Not Found</option>
                                </select>
                            </div>
                            <div class="col-sm-2 col-20 m-b-15">
                                <select class="selectpicker m-t-10 p-r-15" name="coinmarketcap">
                                    <option value="">Choose Coinmarketcap</option>
                                    <option value="1" {% if request.GET.coinmarketcap == '1' %} selected {% endif %}>Not Linked Yet</option>
                                    <option value="2" {% if request.GET.coinmarketcap == '2' %} selected {% endif %}>Found</option>
                                    <option value="3" {% if request.GET.coinmarketcap == '3' %} selected {% endif %}>Not Found</option>
                                </select>
                            </div>
                            <div class="col-sm-2 col-20 m-b-15">
                                <select class="selectpicker m-t-10 p-r-15" name="coinapi">
                                    <option value="">Choose Coinapi</option>
                                    <option value="1" {% if request.GET.coinapi == '1' %} selected {% endif %}>Not Linked Yet</option>
                                    <option value="2" {% if request.GET.coinapi == '2' %} selected {% endif %}>Found</option>
                                    <option value="3" {% if request.GET.coinapi == '3' %} selected {% endif %}>Not Found</option>
                                </select>
                            </div>
                            <div class="col-sm-2 col-20 m-b-15">
                                <select class="selectpicker m-t-10 p-r-15" name="coingecko">
                                    <option value="">Choose Coingecko</option>
                                    <option value="1" {% if request.GET.coingecko == '1' %} selected {% endif %}>Not Linked Yet</option>
                                    <option value="2" {% if request.GET.coingecko == '2' %} selected {% endif %}>Found</option>
                                    <option value="3" {% if request.GET.coingecko == '3' %} selected {% endif %}>Not Found</option>
                                </select>
                            </div>
                            <div class="col-sm-2 col-20 m-b-15">
                                <select class="selectpicker m-t-10 p-r-15" name="coinmarketcal">
                                    <option value="">Choose Coinmarketcal</option>
                                    <option value="1" {% if request.GET.coinmarketcal == '1' %} selected {% endif %}>Not Linked Yet</option>
                                    <option value="2" {% if request.GET.coinmarketcal == '2' %} selected {% endif %}>Found</option>
                                    <option value="3" {% if request.GET.coinmarketcal == '3' %} selected {% endif %}>Not Found</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                {% endif %}

                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-2">
                            <p class="f-500 m-b-15 c-black f-16 pull-right">Coin</p>
                        </div>
                        <div class="col-md-10">
                            <div class="col-sm-2 col-20 m-b-15">
                                <p class="f-500 m-b-15 c-black f-16">Cryptocompare</p>
                            </div>
                            <div class="col-sm-2 col-20 m-b-15">
                                <p class="f-500 m-b-15 c-black f-16">Coinmarketcap</p>
                            </div>
                            <div class="col-sm-2 col-20 m-b-15">
                                <p class="f-500 m-b-15 c-black f-16">Coinapi</p>
                            </div>
                            <div class="col-sm-2 col-20 m-b-15">
                                <p class="f-500 m-b-15 c-black f-16">Coingecko</p>
                            </div>
                            <div class="col-sm-2 col-20 m-b-15">
                                <p class="f-500 m-b-15 c-black f-16">Coinmarketcal</p>
                            </div>
                        </div>
                    </div>
                    {% for coin in coins %}
                    <div class="row">
                        <div class="col-md-2 p-t-10">
                            <p class="f-500 m-b-15 c-black f-15 pull-right">
                                <a target="_blank" href="/attach_coin/{{ coin.id }}">
                                    <p class="text-right f-15 m-b-5">{{ coin.coinlocale_set.first.name }}</p>
                                    <p class="text-right f-15 m-b-5">( {{ coin.symbol }} )</p>
                                </a>
                            </p>
                            <input type="hidden" name="coin{{forloop.counter}}" value="{{ coin.id }}">
                        </div>
                        <div class="col-md-10 p-t-10">
                            <div class="col-sm-2 col-20 m-b-15">
                                <p class="f-400 m-b-15 c-black f-15">
                                    {% if coin.cryptocompare > 0 %}
                                        <span class="text-success">Connected ({{coin.cryptocompare}})</span>
                                        <div class="p-t-15 f-400 f-14">{{ coin.cryptocompare_name }} ( {{ coin.symbol }} )</div>
                                    {% elif coin.cryptocompare == 0 %}
                                        <span class="text-warning">Connected (0)</span>
                                        <select class="selectpicker m-t-25 p-r-15" name="cml_coin{{forloop.counter}}" data-size="10">
                                        <option value="0">---</option>
                                        {% for ii in cml_coins %}
                                            {% if ii.symbol == coin.symbol %}
                                                <option selected value="{{ ii.id }}">
                                                    {{ ii.name }} ( {{ ii.symbol }} )
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                        </select>
                                    {% else %}
                                        <span class="text-danger">Not Connected</span>
                                        <div class="p-t-15 f-400 f-14">N/A</div>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-sm-2 col-20 m-b-15">
                                <p class="f-400 m-b-15 c-black f-15">
                                    {% if coin.coinmarketcap > 0 %}
                                        <span class="text-success">Connected ({{coin.coinmarketcap}})</span>
                                        <div class="p-t-15 f-400 f-14">{{ coin.cryptocompare_name }} ( {{ coin.symbol }} )</div>
                                    {% elif coin.coinmarketcap == 0 %}
                                        <span class="text-warning">Connected (0)</span>
                                        <select class="selectpicker m-t-25 p-r-15" name="cml_coin{{forloop.counter}}" data-size="10">
                                        <option value="0">---</option>
                                        {% for ii in cml_coins %}
                                            {% if ii.symbol == coin.symbol %}
                                                <option selected value="{{ ii.id }}">
                                                    {{ ii.name }} ( {{ ii.symbol }} )
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                        </select>
                                    {% else %}
                                        <span class="text-danger">Not Connected</span>
                                        <div class="p-t-15 f-400 f-14">N/A</div>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-sm-2 col-20 m-b-15">
                                <p class="f-400 m-b-15 c-black f-15">
                                    {% if coin.coinapi > 0 %}
                                        <span class="text-success">Connected ({{coin.coinapi}})</span>
                                        <div class="p-t-15 f-400 f-14">{{ coin.cryptocompare_name }} ( {{ coin.symbol }} )</div>
                                    {% elif coin.coinapi == 0 %}
                                        <span class="text-warning">Connected (0)</span>
                                        <select class="selectpicker m-t-25 p-r-15" name="cml_coin{{forloop.counter}}" data-size="10">
                                        <option value="0">---</option>
                                        {% for ii in cml_coins %}
                                            {% if ii.symbol == coin.symbol %}
                                                <option selected value="{{ ii.id }}">
                                                    {{ ii.name }} ( {{ ii.symbol }} )
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                        </select>
                                    {% else %}
                                        <span class="text-danger">Not Connected</span>
                                        <div class="p-t-15 f-400 f-14">N/A</div>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-sm-2 col-20 m-b-15">
                                <p class="f-400 m-b-15 c-black f-15">
                                    {% if coin.coingecko > 0 %}
                                        <span class="text-success">Connected ({{coin.coingecko}})</span>
                                        <div class="p-t-15 f-400 f-14">{{ coin.cryptocompare_name }} ( {{ coin.symbol }} )</div>
                                    {% elif coin.coingecko == 0 %}
                                        <span class="text-warning">Connected (0)</span>
                                        <select class="selectpicker m-t-25 p-r-15" name="cml_coin{{forloop.counter}}" data-size="10">
                                        <option value="0">---</option>
                                        {% for ii in cml_coins %}
                                            {% if ii.symbol == coin.symbol %}
                                                <option selected value="{{ ii.id }}">
                                                    {{ ii.name }} ( {{ ii.symbol }} )
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                        </select>
                                    {% else %}
                                        <span class="text-danger">Not Connected</span>
                                        <div class="p-t-15 f-400 f-14">N/A</div>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-sm-2 col-20 m-b-15">
                                <p class="f-400 m-b-15 c-black f-15">
                                    {% if coin.coinmarketcal > 0 %}
                                        <span class="text-success">Connected ({{coin.coinmarketcal}})</span>
                                        <div class="p-t-15 f-400 f-14">{{ coin.cryptocompare_name }} ( {{ coin.symbol }} )</div>
                                    {% elif coin.coinmarketcal == 0 %}
                                        <span class="text-warning">Connected (0)</span>
                                        <select class="selectpicker m-t-25 p-r-15" name="cml_coin{{forloop.counter}}" data-size="10">
                                        <option value="0">---</option>
                                        {% for ii in cml_coins %}
                                            {% if ii.symbol == coin.symbol %}
                                                <option selected value="{{ ii.id }}">
                                                    {{ ii.name }} ( {{ ii.symbol }} )
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                        </select>
                                    {% else %}
                                        <span class="text-danger">Not Connected</span>
                                        <div class="p-t-15 f-400 f-14">N/A</div>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2 p-l-25 p-t-25 m-t-10">
                            <button class="btn btn-info waves-effect m-l-10">Pair Coins</button>
                            <a class="btn btn-default waves-effect m-l-10" href="#" onclick="javascript: window.history.back();">Cancel</a>
                        </div>
                        <div class="col-md-2 p-t-20">
                            <ul class="pagination">
                                <li><a href="/bulk_pair_coin?page={{ prev_page }}" aria-label="Previous"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                <li class="p-t-5 f-500">{{ page }} / {{ max_page }}</li>
                                <li><a href="/bulk_pair_coin?page={{ next_page }}" aria-label="Next"><i class="zmdi zmdi-chevron-right"></i></a></li>
                             </ul>                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/qobit.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
{% endblock %}