{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block page_body %}
<section id="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="c-purple f-500 f-20">Coin Locale ( {{ coin.symbol }} )</h2>
            </div>
            
            <div class="card-body card-padding">
                <form class="form-horizontal f-14" id="id-event-form" method="POST">
                    {{ form.errors }}
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Name</label>
                        <div class="col-sm-6">
                            <div class="fg-line">
                                <input type="text" class="form-control f-15" id="id-name" required="" name="name" value="{% if form.name.value %} {{ form.name.value }} {% endif %}">
                            </div>
                        </div>
                        {% if lid == '2' %}
                        <div class="col-sm-1">
                            <a href="javascript:translate('id-name')" class="btn btn-default bgm-cyan btn-sm">
                                <i class="zmdi zmdi-translate"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Description</label>
                        <div class="col-lg-6 col-sm-8">
                            <div class="fg-line">
                                <textarea class="form-control f-15" id="id-description" name="description" rows="10">{% if form.description.value %} {{ form.description.value }} {% endif %}</textarea>
                            </div>
                        </div>
                        {% if lid == '2' %}
                        <div class="col-sm-1">
                            <a href="javascript:translate('id-description')" class="btn btn-default bgm-cyan m-t-20 btn-sm">
                                <i class="zmdi zmdi-translate"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Short Description</label>
                        <div class="col-lg-6 col-sm-8">
                            <div class="fg-line">
                                <textarea class="form-control f-15" id="id-short-description" name="short_description" rows="3">{% if form.short_description.value %} {{ form.short_description.value }} {% endif %}</textarea>
                            </div>
                        </div>
                        {% if lid == '2' %}
                        <div class="col-sm-1">
                            <a href="javascript:translate('id-short-description')" class="btn btn-default bgm-cyan btn-sm">
                                <i class="zmdi zmdi-translate"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Feature</label>
                        <div class="col-lg-6 col-sm-8">
                            <div class="fg-line">
                                <textarea class="form-control f-15" id="id-feature" name="feature" rows="7">{% if form.feature.value %} {{ form.feature.value }} {% endif %}</textarea>
                            </div>
                        </div>
                        {% if lid == '2' %}
                        <div class="col-sm-1">
                            <a href="javascript:translate('id-feature')" class="btn btn-default bgm-cyan m-t-20 btn-sm">
                                <i class="zmdi zmdi-translate"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Technology</label>
                        <div class="col-lg-6 col-sm-8">
                            <div class="fg-line">
                                <textarea class="form-control f-15" id="id-technology" name="technology" rows="7">{% if form.technology.value %} {{ form.technology.value }} {% endif %}</textarea>
                            </div>
                        </div>
                        {% if lid == '2' %}
                        <div class="col-sm-1">
                            <a href="javascript:translate('id-technology')" class="btn btn-default bgm-cyan m-t-20 btn-sm">
                                <i class="zmdi zmdi-translate"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Locale</label>
                        <div class="col-sm-2">
                            <div class="fg-line">
                                <select class="selectpicker" data-live-search="true" name="locale" required="">
                                    {% for ii in locales %}
                                        {% if form.culture.value %}
                                            {% if ii.id == form.culture.value %}
                                                <option  selected  value="{{ ii.id }}">{{ ii.name }}</option>
                                            {% endif %}
                                        {% else %}
                                            <option value="{{ ii.id }}">{{ ii.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-t-25 p-t-10">
                        <div class="col-sm-offset-1 col-sm-6">
                            <button type="submit" class="btn btn-primary m-r-15">{% if id or eid %}Update Coin Locale {% else %} Add Coin Locale {% endif %}</button>
                            <a href="/master_coins" class="btn btn-default m-r-15">Cancel</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/qobit.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript">
        var translated = {};
        function translate(id) {
            txt = $('#'+id).html() || $('#'+id).val();
            if (txt && !translated[id]) {
                console.log(txt);
                translated[id] = true;
                $.post('/desc_translate', { desc: txt }, function(data) {
                    $('#'+id).val(data);
                })
            }
        }
    </script>
{% endblock %}