{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
    <link href="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
{% endblock %}

{% block page_body %}
<section id="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="c-purple f-500 f-20">Event Detail</h2>
            </div>
            
            <div class="card-body card-padding">
                <form class="form-horizontal f-14" method="POST">
                    {{ form.errors }}
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Title</label>
                        <div class="col-sm-6">
                            <div class="fg-line">
                                <input type="text" class="form-control f-15" required="" name="title" value="{% if form.title.value %} {{ form.title.value }} {% endif %}">
                            </div>
                            {% if fid %}<p class="help-block">{{ event.title }}</p>{% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Mapped Coins</label>
                        <div class="col-sm-4">
                            <div class="fg-line">                                
                                <select class="selectpicker" data-live-search="true" multiple name="coins"  data-max-options="5" data-size="12">
                                    {% for coin in coins %}
                                    <option value="{{ coin.id }}" {% if coin.id in form.coins.value %} selected="" {% endif %}>{{ coin.cryptocompare_name }} ({{ coin.symbol }})</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">CML Coins</label>
                        <div class="col-sm-4">
                            <div class="fg-line">
                                <input type="text" class="form-control f-15" name="cml_coins" value="{% if form.cml_coins.value %} {{ form.cml_coins.value }} {% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Description</label>
                        <div class="col-lg-6 col-sm-8">
                            <div class="fg-line">
                                <textarea class="form-control f-15" name="description" rows="5">{% if form.description.value %} {{ form.description.value }} {% endif %}</textarea>
                            </div>
                            {% if fid %}<p class="help-block">{{ event.description }}</p>{% endif %}
                        </div>
                        {% if lid %}
                        <div class="col-sm-1">
                            <button class="btn btn-default bgm-cyan m-t-20"><i class="zmdi zmdi-translate"></i></button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Proof</label>
                        <div class="col-sm-6">
                            <div class="fg-line">
                                <input type="url" class="form-control f-15" name="proof" value="{% if form.proof.value %} {{ form.proof.value }} {% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Source</label>
                        <div class="col-sm-6">
                            <div class="fg-line">
                                <input type="url" class="form-control f-15" name="source" value="{% if form.source.value %} {{ form.source.value }} {% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="checkbox m-b-15 col-sm-offset-1">
                        <label>
                            <input type="checkbox" name="is_hot" value="1" {% if form.is_hot.value %} checked="" {% endif %}>
                            <i class="input-helper"></i>
                            Is Hot
                        </label>
                    </div>
                    <div class="checkbox m-b-15 col-sm-offset-1">
                        <label>
                            <input type="checkbox" name="can_occur_before" value="1" {% if form.can_occur_before.value %} checked="" {% endif %}>
                            <i class="input-helper"></i>
                            Can Occur before
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 control-label">Date Event</label>
                        <div class="col-sm-2">
                            <div class="fg-line">
                                <input type="text" class="form-control f-14" id="id-event-date-start" name="date_event_start" placeholder="eg: 05/23/2014" required="" >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Status</label>
                        <div class="col-sm-2">
                            <div class="fg-line">
                                <select class="selectpicker" data-live-search="true" name="status" required="">
                                    {% for ii in status %}
                                        {% if form.status.value %}
                                            {% if ii.0 == form.status.value %}
                                                <option  selected  value="{{ ii.0 }}">{{ ii.1 }}</option>
                                            {% endif %}
                                        {% else %}
                                            <option value="{{ ii.0 }}">{{ ii.1 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Locale</label>
                        <div class="col-sm-2">
                            <div class="fg-line">
                                <select class="selectpicker" data-live-search="true" name="locale" required="">
                                    {% for ii in locales %}
                                        {% if form.culture.value %}
                                            {% if ii.id == form.culture.value %}
                                                <option  selected  value="{{ ii.id }}">{{ ii.name }}</option>
                                            {% endif %}
                                        {% else %}
                                            <option value="{{ ii.id }}">{{ ii.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Category</label>
                        <div class="col-sm-4">
                            <div class="fg-line">                                
                                <select class="selectpicker" data-live-search="true" multiple name="categories"  data-max-options="5" data-size="12">
                                    {% for category in categories %}
                                    <option value="{{ category.id }}" {% if category.id in form.categories.value %} selected="" {% endif %}>{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="friend" value="{% if form.friend.value %}{{ form.friend.value }}{% endif %}">
                    <div class="form-group m-t-25 p-t-10">
                        <div class="col-sm-offset-1 col-sm-6">
                            <button type="submit" class="btn btn-primary m-r-15">{% if id %}Update Event {% else %} Add Event {% endif %}</button>
                            <a href="/events" class="btn btn-default m-r-15">Cancel</a>
                            {% if not form.status.value or form.status.value == 'draft' %}
                                <button type="submit" class="btn btn-primary btm-cyan m-r-15">Publish </button>
                            {% endif %}
                            {% if form.status.value == 'published' %}
                                <button type="submit" class="btn btn-primary bgm-cyan m-r-15">Unpublish </button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'vendors/input-mask/input-mask.min.js' %}"></script>
    <script src="{% static 'js/qobit.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript">
    $(function () {
        $('#id-event-date-start').datetimepicker({
            useCurrent: false,
            format:'MM/DD/YYYY HH:mm'
        });
    });

    {% if form.date_event_start.value %} 
        $('#id-event-date-start').val("{{ form.date_event_start.value|date:'m/d/Y H:i' }}"); 
    {% endif %}
    </script>
{% endblock %}