{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
    <link href="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
{% endblock %}

{% block page_body %}
<section id="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="c-purple f-500 f-20">Event Detail</h2>
            </div>
            
            <div class="card-body card-padding">
                <form class="form-horizontal f-14" method="POST">
                    {{ form.errors }}
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Title</label>
                        <div class="col-sm-6">
                            <div class="fg-line">
                                <input type="text" class="form-control f-15" required="" name="title" value="{% if form.title.value %} {{ form.title.value }} {% endif %}">
                            </div>
                            {% if fid %}<p class="help-block">{{ event.title }}</p>{% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Mapped Coins</label>
                        <div class="col-sm-6">
                            <div class="fg-line">
                                <input type="text" class="form-control f-15" required="" name="title" value="{% if form.title.value %} {{ form.title.value }} {% endif %}">
                            </div>
                            {% if fid %}<p class="help-block">{{ event.title }}</p>{% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">CML Coins</label>
                        <div class="col-sm-6">
                            <div class="fg-line">
                                <input type="text" class="form-control f-15" name="cml_coins" value="{% if form.cml_coins.value %} {{ form.cml_coins.value }} {% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Description</label>
                        <div class="col-lg-9 col-sm-11">
                            <div class="fg-line">
                                <textarea class="form-control f-15" name="description" rows="5">{% if form.description.value %} {{ form.description.value }} {% endif %}"></textarea>
                            </div>
                            {% if fid %}<p class="help-block">{{ event.description }}</p>{% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Proof</label>
                        <div class="col-sm-6">
                            <div class="fg-line">
                                <input type="url" class="form-control f-15" name="proof" value="{% if form.proof.value %} {{ form.proof.value }} {% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Source</label>
                        <div class="col-sm-6">
                            <div class="fg-line">
                                <input type="url" class="form-control f-15" name="source" value="{% if form.source.value %} {{ form.source.value }} {% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="checkbox m-b-15 col-sm-offset-1">
                        <label>
                            <input type="checkbox" value="1" {% if form.is_hot.value %} checked="" {% endif %}>
                            <i class="input-helper"></i>
                            Is Hot
                        </label>
                    </div>
                    <div class="checkbox m-b-15 col-sm-offset-1">
                        <label>
                            <input type="checkbox" value="1" {% if form.can_occur_before.value %} checked="" {% endif %}>
                            <i class="input-helper"></i>
                            Can Occur before
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 control-label">Date Event</label>
                        <div class="col-sm-2">
                            <div class="fg-line">
                                <input type="text" class="form-control date-picker f-14 input-mask" name="date_event" data-mask1="0000-00-00" placeholder="eg: 2014-05-23" required="" value="{% if form.date_event.value %} {{ form.date_event.value|date:'Y-m-d' }} {% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Status</label>
                        <div class="col-sm-2">
                            <div class="fg-line">
                                <select class="selectpicker" data-live-search="true" name="status" required="">
                                    {% for ii in status %}
                                        <option {% if ii.0 == form.status.value %} selected {% endif %} value="{{ ii.0 }}">
                                            {{ ii.1 }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Locale</label>
                        <div class="col-sm-2">
                            <div class="fg-line">
                                <select class="selectpicker" data-live-search="true" name="locale" required="">
                                    {% for ii in locales %}
                                        {% if form.locale.value %}
                                            {% if ii.id == form.locale.value %}
                                                <option  selected  value="{{ ii.id }}">{{ ii.name }}</option>
                                            {% endif %}
                                        {% else %}
                                            <option value="{{ ii.id }}">{{ ii.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Category</label>
                        <div class="col-sm-6">
                            <div class="fg-line">
                                <input type="url" class="form-control f-15" name="category" value="{% if form.category.value %} {{ form.category.value }} {% endif %}">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="friend" value="{% if form.friend.value %}{{ form.friend.value }}{% endif %}">
                    <div class="form-group m-t-25 p-t-10">
                        <div class="col-sm-offset-1 col-sm-6">
                            <button type="submit" class="btn btn-primary btn-sm m-r-15">{% if id %}Update Event {% else %} Add Event {% endif %}</button>
                            <a href="/events" class="btn btn-default btn-sm">Cancel</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'vendors/input-mask/input-mask.min.js' %}"></script>
    <script src="{% static 'js/qobit.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
{% endblock %}