{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block page_body %}
<section id="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="c-purple f-500 f-20">Coin Events</h2>
            </div>
            
            <div class="card-body card-padding">
                <div class="table-responsive">
                    <table id="data-table-events" class="table table-striped" data-ajax="true" data-url="/events_">
                        <thead>
                            <tr>
                                <th data-column-id="title" data-formatter="detail">Title</th>
                                <th data-column-id="date_event">Event Date</th>
                                <th data-column-id="created_date">Created Date</th>
                                <th data-column-id="friend" data-formatter="friend">Other</th>
                                <th data-column-id="action" data-formatter="commands" data-sortable="false">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>            
            </div>
        </div>
        
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/qobit.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
{% endblock %}