{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block page_body %}
<section id="content">
    <div class="container">
        <ol class="breadcrumb">
            <li class="active">Home</li>
            <li class="active">Exchange Detail</li>
        </ol>
        <div class="card">
            <div class="card-header">
                <h2>Exchange Detail ( {{ exchange.name }} )</h2>
            </div>
            
            <div class="card-body card-padding">
                <div class="table-responsive">
                    <table id="data-table-exchange-detail" class="table table-striped" data-ajax="true" data-url="/exchanges_/{{ exchange.id }}">
                        <thead>
                            <tr>
                                <th data-column-id="coin">Coin</th>
                                <th data-column-id="pair">Pair</th>
                                <th data-column-id="supported">Supported</th>
                                <th data-column-id="action" data-formatter="commands" data-sortable="false">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>            
            </div>
        </div>
        
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/qobit.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
{% endblock %}