{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block page_body %}
<section id="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="c-purple f-500 f-20">Exchange Detail ( {{ exchange.name }} )</h2>
            </div>
            
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-md-12 p-b-20 p-t-10">
                        {% if exchange.supported %}
                            <span class="text-success f-500 f-16 p-t-5 supported-exchange">Status: Supported</span>
                            <a class="btn btn-info waves-effect m-l-10" href="/import_all_pairs/{{ exchange.id }}">Import Coins / Pairs</a>
                            <a class="btn btn-info waves-effect m-l-10">Refresh from exchange</a>
                        {% else %}
                            <a class="btn btn-info waves-effect" href="/exchange_support/{{ exchange.id }}">Add Exchange</a>
                            <a class="btn btn-info waves-effect m-l-10" disabled>Import Coins / Pairs</a>
                            <a class="btn btn-info waves-effect m-l-10" disabled>Refresh from exchange</a>
                        {% endif %}
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="data-table-exchange-detail" class="table table-striped" data-ajax="true" data-url="/exchanges_/{{ exchange.id }}">
                        <thead>
                            <tr>
                                <th data-column-id="coin" data-formatter="coins">Coin</th>
                                <th data-column-id="pair" data-formatter="pair">Pair</th>
                                <th data-column-id="supported">Supported</th>
                                <th data-column-id="is_master">Data Providers</th>
                                {% if exchange.supported %}
                                <th data-column-id="supported_at">Date Added</th>
                                {% endif %}
                                <th data-column-id="action" data-formatter="commands" data-sortable="false">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>            
            </div>
        </div>
        
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/qobit.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
{% endblock %}